astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
bcrypt==3.1.7
bleach==3.1.0
blinker==1.4
cffi==1.13.2
click==6.7
colorama==0.4.3
decorator==4.4.1
decore==0.0.1
defusedxml==0.6.0
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.7.9
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gunicorn==20.0.4
importlib-metadata==1.3.0
ipykernel==5.1.3
ipython==7.10.2
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==0.24
jdcal==1.4
jedi==0.15.2
Jinja2==2.10
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
lazy-object-proxy==1.4.3
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.0.2
mpmath==1.0.0
nbconvert==5.6.1
nbformat==4.4.0
nltk==3.4.5
notebook==6.0.2
numpy==1.17.4
openpyxl==2.5.5
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.2
pdpipe==0.0.35
pickleshare==0.7.5
Pillow==9.0.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.5.2
pylint==2.4.4
pylint-flask==0.6
pylint-plugin-utils==0.6
pyrsistent==0.15.6
python-dateutil==2.8.1
pytz==2019.3
pywinpty==0.5.7
pyzmq==18.1.1
qtconsole==4.6.0
scikit-learn==0.22
scipy==1.4.1
Send2Trash==1.5.0
six==1.13.0
skutil==0.0.16
sortedcontainers==2.1.0
SQLAlchemy==1.3.13
strct==0.0.30
sympy==1.2
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
tqdm==4.41.0
traitlets==4.3.3
typed-ast==1.4.0
virtualenv==15.2.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.5.1
wrapt==1.11.2
WTForms==2.1
zipp==0.6.0
